.feedListContainer {
    margin-top: 16px;
    .feedList{
        background-color: var(--ion-background-color);
    }
}

.feedCard {
    padding: 16px;
    margin: 16px;
    //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);

    .feedInfo {
        font-size: 12px;
        color: var(--c-gray-600)
    }
}