.feedListContainer{
    margin-top:16px;
}

.feedBox {
    padding-bottom: 70px;

    .ion-padding {
        height: 70px;
        margin: 16px;
        padding: 16px;
    }

    .feedTitle {
        font-size: 16px;
    }

    .feedInfo {
        font-size: 12px;
        color: var(--c-gray-600)
    }
}