.homePage {
    header {
        h1 {
            position: fixed;
            font-size: 32px;
            margin-left: 24px;
            color: var(--c-gray-500);
            font-family: 'ChusaLove';
            font-weight: 500 !important;
            box-shadow: 0 2px 4px #00000025;
        }
    }
}