.convenientPage {
    .container {

        .clicked {
            background-color: var(--c-gray-400);
        }

        .unClicked {
            background-color: white;
        }
    }

    .button {
        margin:0 16px;
        width: calc(100% - 32px);
        bottom: 16px;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

