.convenientPage {
    .toolbar{
        padding: 12px 16px 4px;
        z-index: 5000;
        position:fixed;
        width: 100%;
        background-color: var(--ion-background-color);

        .icon{
            font-size:28px;
        }
    }
    .container {
        margin-top: 70px;
        margin-bottom: 90px;
        .card{ 
            display: flex;
            padding: 16px;
            height: 100px;
            .img{
                width: 70px;
                height: 70px;
            }
            .rightBox{
                margin: 8px 16px;
                .menuName{
                    font-size: 20px;
                }
                .menuPrice{
                    margin-top: 4px;
                }
            }
        }
        .clicked {
            background-color: var(--c-gray-400);
        }

        .unClicked {
            background-color: white;
        }
    }

    .button {
        height:72px;
        padding:16px 16px 16px;
        width: 100%;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--ion-background-color);
    }
}

